http_interactions:
- request:
    method: get
    uri: https://bugs.r-project.org/bugzilla/rest/whoami
    body:
      encoding: ''
      string: ''
    headers:
      X-BUGZILLA-API-KEY: https://bugs.r-project.org/bugzilla/
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      etag: QoEOn1fkyvtzNJvFp167rw
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"code":"306","error":true,"message":"The API key you specified is
        invalid. Please check that you typed it correctly.","documentation":"https://bugzilla.readthedocs.org/en/latest/api/"}'
  recorded_at: 2021-05-31 03:18:00 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
