http_interactions:
- request:
    method: get
    uri: https://bugs.r-project.org/bugzilla/rest/version
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
      X-BUGZILLA-API-KEY: Removing this header too just in case
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      etag: eTsYwUQ9/dEzCleTaxjJ5A
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"version":"5.1.2+"}'
  recorded_at: 2021-06-05 21:04:49 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
- request:
    method: get
    uri: https://bugs.r-project.org/bugzilla/rest/whoami
    body:
      encoding: ''
      string: ''
    headers:
      X-BUGZILLA-API-KEY: Removing this header too just in case
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      etag: QoEOn1fkyvtzNJvFp167rw
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"code":"306","message":"The API key you specified is invalid. Please
        check that you typed it correctly.","error":true,"documentation":"https://bugzilla.readthedocs.org/en/latest/api/"}'
  recorded_at: 2021-06-05 21:04:49 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
