http_interactions:
- request:
    method: get
    uri: https://bugs.r-project.org/bugzilla/rest/version
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      etag: eTsYwUQ9/dEzCleTaxjJ5A
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"version":"5.1.2+"}'
  recorded_at: 2021-05-30 22:29:15 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
- request:
    method: get
    uri: https://bugs.r-project.org/bugzilla/rest/whoami
    body:
      encoding: ''
      string: ''
    headers:
      X-BUGZILLA-API-KEY: foobar
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      etag: QoEOn1fkyvtzNJvFp167rw
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://bugzilla.readthedocs.org/en/latest/api/","message":"The
        API key you specified is invalid. Please check that you typed it correctly.","error":true,"code":"306"}'
  recorded_at: 2021-05-30 22:29:15 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
