http_interactions:
- request:
    method: get
    uri: https://bugs.r-project.org/rest/user/2
    body:
      encoding: ''
      string: ''
    headers:
      X-BUGZILLA-API-KEY: Removing this header too just in case
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
      etag: 6poHRz3to1elvvFf5cDdKQ
      x-content-security-policy: default-src 'self'; script-src 'self' 'unsafe-inline'
        'unsafe-eval'; style-src 'self' 'unsafe-inline'
      x-webkit-csp: default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval';
        style-src 'self' 'unsafe-inline'
    body:
      encoding: UTF-8
      file: no
      string: '{"users":[{"id":2,"can_login":true,"name":"jitterbug-import","real_name":"Jitterbug
        compatibility account","groups":[]}]}'
  recorded_at: 2021-11-06 16:05:59 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
