http_interactions:
- request:
    method: get
    uri: https://bugs.r-project.org/bugzilla/rest/bug/2/history
    body:
      encoding: ''
      string: ''
    headers:
      X-BUGZILLA-API-KEY: Removing this header too just in case
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      etag: +T5OLgUvQpBMFyo+y7Jixw
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"code":"101","documentation":"https://bugzilla.readthedocs.org/en/latest/api/","error":true,"message":"Bug
        #2 does not exist."}'
  recorded_at: 2021-02-27 15:27:17 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
