http_interactions:
- request:
    method: get
    uri: https://bugs.r-project.org/bugzilla//rest/field/bug
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
      X-BUGZILLA-API-KEY: Removing this header too just in case
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      etag: LwqxIAsQ4u++SM005ZNA6g
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"fields":[{"is_on_bug_entry":false,"id":1,"visibility_field":null,"name":"bug_id","is_custom":false,"type":0,"is_mandatory":false,"visibility_values":[],"display_name":"Bug
        #"},{"id":2,"is_on_bug_entry":false,"visibility_field":null,"name":"short_desc","is_custom":false,"type":0,"is_mandatory":true,"visibility_values":[],"display_name":"Summary"},{"display_name":"Classification","visibility_values":[],"is_mandatory":false,"is_custom":false,"type":2,"values":[{"name":"Unclassified","visibility_values":[],"sort_key":0,"sortkey":0}],"visibility_field":null,"name":"classification","is_on_bug_entry":false,"id":3,"value_field":null},{"type":2,"is_custom":false,"visibility_field":null,"name":"product","id":4,"is_on_bug_entry":false,"display_name":"Product","is_mandatory":true,"visibility_values":[]},{"id":5,"is_on_bug_entry":false,"value_field":"product","name":"version","visibility_field":null,"type":0,"is_custom":false,"values":[{"name":"R
        2.10.x","is_active":false,"visibility_values":["R"],"sort_key":0,"sortkey":0},{"name":"old","is_active":true,"visibility_values":["R"],"sortkey":0,"sort_key":0},{"visibility_values":["R"],"is_active":false,"name":"R
        2.12.0","sort_key":0,"sortkey":0},{"visibility_values":["R"],"is_active":false,"name":"R
        2.x","sortkey":0,"sort_key":0},{"name":"R 2.11.1","visibility_values":["R"],"is_active":false,"sortkey":0,"sort_key":0},{"sort_key":0,"sortkey":0,"visibility_values":["R"],"is_active":true,"name":"R-[...]
