http_interactions:
- request:
    method: get
    uri: https://bugs.r-project.org/rest/user?ids=1&ids=2
    body:
      encoding: ''
      string: ''
    headers:
      X-BUGZILLA-API-KEY: Removing this header too just in case
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
      etag: mz+olahE9YOtDw3P3RaKZg
      x-content-security-policy: default-src 'self'; script-src 'self' 'unsafe-inline'
        'unsafe-eval'; style-src 'self' 'unsafe-inline'
      x-webkit-csp: default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval';
        style-src 'self' 'unsafe-inline'
    body:
      encoding: UTF-8
      file: no
      string: '{"users":[{"real_name":"Simon Urbanek","groups":[],"can_login":true,"name":"admin@urbanek.info","id":1},{"name":"jitterbug-import","can_login":true,"id":2,"real_name":"Jitterbug
        compatibility account","groups":[]}]}'
  recorded_at: 2021-11-06 16:05:59 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
