http_interactions:
- request:
    method: get
    uri: https://bugs.r-project.org/bugzilla/rest/bug/1/comment
    body:
      encoding: ''
      string: ''
    headers:
      X-BUGZILLA-API-KEY: Removing this header too just in case
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      etag: MSekdCtqGyPeOozR7kEd7A
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"comments":{},"bugs":{"1":{"comments":[{"text":"Bug report description.\n\nAnother
        paragraph.","attachment_id":null,"is_markdown":false,"creation_time":"2010-02-15T18:29:54Z","bug_id":1,"time":"2010-02-15T18:29:54Z","id":1,"creator":"admin@urbanek.info","tags":[],"is_private":false,"count":0},{"count":1,"is_private":false,"tags":[],"id":2,"creator":"admin@urbanek.info","time":"2010-02-15T18:33:25Z","bug_id":1,"attachment_id":null,"text":"Another
        response ...","creation_time":"2010-02-15T18:33:25Z","is_markdown":false},{"count":2,"is_private":false,"tags":[],"id":3,"creator":"admin@urbanek.info","time":"2010-02-16T17:42:59Z","bug_id":1,"attachment_id":1,"text":"Created
        attachment 1\ntest attachment ...\n\nAttaching a test file ...","creation_time":"2010-02-16T17:42:59Z","is_markdown":false},{"bug_id":1,"attachment_id":null,"is_markdown":false,"creation_time":"2010-03-09T18:14:23Z","text":"Additional
        comment ... test, as you may guess ...","is_private":false,"count":3,"time":"2010-03-09T18:14:23Z","creator":"simon.urbanek@r-project.org","tags":[],"id":83214},{"bug_id":1,"is_markdown":false,"attachment_id":null,"text":"Msrking
        the test bug as fixed.","creation_time":"2010-03-10T16:54:39Z","is_private":false,"count":4,"time":"2010-03-10T16:54:39Z","creator":"admin@urbanek.info","id":83218,"tags":[]}]}}}'
  recorded_at: 2021-02-15 18:58:21 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
