http_interactions:
- request:
    method: get
    uri: https://bugs.r-project.org/bugzilla/rest/bug/comment/1
    body:
      encoding: ''
      string: ''
    headers:
      X-BUGZILLA-API-KEY: Removing this header too just in case
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      etag: UESSd+KY0BLnO5bXQ0ff8w
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"comments":{"1":{"is_private":false,"count":0,"time":"2010-02-15T18:29:54Z","creator":"admin@urbanek.info","tags":[],"id":1,"bug_id":1,"is_markdown":false,"creation_time":"2010-02-15T18:29:54Z","text":"Bug
        report description.\n\nAnother paragraph.","attachment_id":null}},"bugs":{}}'
  recorded_at: 2021-02-15 18:58:21 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
