http_interactions:
- request:
    method: post
    uri: https://bugs.r-project.org/bugzilla/rest/bug
    body:
      encoding: ''
      string: '{"product":"R","component":"Misc","version":"4.0.x","summary":"test!!!"}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 401
      category: Client error
      reason: Unauthorized
      message: 'Client error: (401) Unauthorized'
    headers:
      etag: 8hv3qhJNknTVRt2cjTD2dw
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"code":"410","message":"You must log in before using this part of
        Bugzilla.","error":true,"documentation":"https://bugzilla.readthedocs.org/en/latest/api/"}'
  recorded_at: 2021-07-15 17:00:35 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
